# -------------------------LISTS------------------------------

##### HOW TO READ LISTS:

- the data which represented or written in square braces is called as list.
- list is 'array of elements'.

In [2]:
l1=[1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [3]:
l2=['A','B','C','D','E']
l2

['A', 'B', 'C', 'D', 'E']

In [4]:
l3=[1,2,3,'A','B','C']
l3

[1, 2, 3, 'A', 'B', 'C']

###### In list elements, heterogenous data types are allowed.

In [8]:
l4=[1,'apple',10.5,(1+3j),True]
l4

[1, 'apple', 10.5, (1+3j), True]

###### In list elements,duplicates are also allowed.

In [6]:
l5=[100,100,100]
l5

[100, 100, 100]

###### In list elements,list in list also works.

In [7]:
l6=[[1,2,3]]
l6

[[1, 2, 3]]

$type$

In [10]:
l1=[1,'apple',10.5,(1+3j),True] 
type(l1)

list

$length$

In [11]:
l1=[1,'apple',10.5,(1+3j),True]   #it describes the length of the list
len(l1)

5

$maximum$

In [12]:
l1=[1,'apple',10.5,(1+3j),True]  # it describes the maximum value of the given list
max(l1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [13]:
l1=[1,2,3,4,5]
max(l1)

5

$minimum$

In [14]:
l1=['a','b','c'] # it describes the minimum value of the given string by using ascii values
min(l1)

'a'

$ sum $

In [1]:
l1=[1,2,3,4,5]
sum(l1)

15

In [5]:
l2=['a','b','c','d','e']
sum(l2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [6]:
l3=[1,2,3,4,5,'a','b','c']
sum(l3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

$Concatenation$

- concatenation means addition of two lists

In [18]:
L1=[1,2,3,4,5]
L2=[5,6,7,8,9]
L1+L2

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [19]:
L2+L1

[5, 6, 7, 8, 9, 1, 2, 3, 4, 5]

$Multiplication$

- we can't multiply sequence by non-int of type string

In [7]:
l1=[1,2,3,4,5]
l2=['a','b','c','d','e']
l1*l2

TypeError: can't multiply sequence by non-int of type 'list'

In [9]:
l1=[1,2,3,4,5]
l1*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

$subtraction$

- we cant subtract two lists it gives error

In [10]:
l1=[1,2,3,4,5]
l2=[1,5,3,6,7]
l1-l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

$division$

-similarly we cant divide two lists.it is also gives an error as like substraction.

In [11]:
l1=[1,2,3,4,5]
l2=[1,5,3,6,7]
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

###### in opertor (for loop)

In [14]:
list1=[1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

In [16]:
list1=["love","like","life"]
for i in list1:
    print(i)

love
like
life

$Index$

- Index is used to find the sequence number of the element
- index is representeed in[] 
- it is a numeric value

In [20]:
list1=[1,2,3,'a','b','c','priya']
list1[-1]

'priya'

- here,in this list1[-1]=====> [a] indicates index of the last element in list1

In [22]:
list1[2],list1[5],list1[0]

(3, 'c', 1)

In [24]:
list2=[1,2,3,["priya","ammu"]]
# find index of priya?
list2[3][0] #===========> index of priya

'priya'

$mutable$-$immutable$ $condition$

- mutable means we can change; immutable means we cant change.
- lists are mutable.`

In [25]:
l1=["a","b","c",1,2,3]
l1[2]=0
l1

['a', 'b', 0, 1, 2, 3]

$slice$

-it is used to cut the sequence in the given list

In [26]:
l1=[1,2,3,4,5,'a','b','c','d','e','f']
l1[0:5:1]

[1, 2, 3, 4, 5]

In [27]:
l1[-2:-8:-2]

['e', 'c', 'a']

$clear$-$copy$

- clear is used to remove the existed elements in a list
- copy is used to copy the existed elements of list to another list

In [29]:
l1=[1,2,3,4,5]
l2=l1.copy()
l2

[1, 2, 3, 4, 5]

In [31]:
l1.clear()

In [32]:
print("list1 is:-",l1)
print("list2 is:-",l2)

list1 is:- []
list2 is:- [1, 2, 3, 4, 5]

$Append$

- it is used to add somenthing at the end of a written doccument

In [34]:
l1=[100,200,300]
l2=['apple','banana','mango']
l1.append(l2)
l1

[100, 200, 300, ['apple', 'banana', 'mango']]

In [35]:
l1=[100,200,300]
l1.append(500)
l1

[100, 200, 300, 500]

In [36]:
l1=[100,200,300]
l1.append(400,500)
l1

TypeError: list.append() takes exactly one argument (2 given)

### LIST Methods:

- methods are used to simplify the large steps of programs
- they are several types of methods are there in lists
- some of them are shown below

$capitalise$ $method$

- this method is used to capitalise the word

In [37]:
l1=["hyd","chennai","mumbai"]
for i in l1:
    print(i.capitalize())

Hyd
Chennai
Mumbai

$Count$

- it is used to find the no of times which an element repeats.

In [39]:
l1=[1,2,3,4,5,'a','b','c','b','c','c']
l1.count('c')

3

$Extend$

- this operator is used to prolong the list by using another list

In [41]:
l1=['a','b','c']
l2=[1,2,3,4,5]
l1.extend(l2)
l1
#  in extend method, the list1 values will be updates with list2 values

['a', 'b', 'c', 1, 2, 3, 4, 5]

In [42]:
l1=['a','b','c']
l2=[1,2,3,4,5]
l1+l2 # l1+l2 is a new list
# in concatenation menthod , a new list will be created ti update the values of list1 and list2

['a', 'b', 'c', 1, 2, 3, 4, 5]

In [44]:
l1=['a','b','c']
l2=[1,2,3,4,5]
l1.append(l2)
l1
# in append method, only a single element can directly append or a sub list may formed in main list

['a', 'b', 'c', [1, 2, 3, 4, 5]]

$Append---Extend---Concatenation$

- append will add the element at last, that element can be any type as shown above

- extend will update the lsit by adding new elements, the result also saved in same list as shown above

- concatenation will add two lists,but the results will not update in same list as shown above

$Reversed$

- it is used to reverse a word

In [45]:
reversed("python")

In [48]:
# we didnt get output directly with reversed key,thats why in order to get output we used a varible as shown below
rev=reversed("python")
for i in rev:
    print(i,end='')

nohtyp

$pop--remove--del$

- pop is used to remove and return element in a list
- remove is used to remove an element in a list
- del is used to remove entire list. del is a keyword and we can apply it for any data type

In [13]:
list5=['a','b','c','d','e',1,2,3,4,5]
list5.pop()

5

In [18]:
list6=[100,200,300,400,500]
list6.remove(400)
list6

[100, 200, 300, 500]

In [19]:
list7=[1,2,3,4,5]
del(list7)
list7

NameError: name 'list7' is not defined

$Directories$-$of$-$list$

In [20]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# -------------------------- THE END---------------------------------