# ----------------------------------PYTHON------------------------------

- python is a programming language 
- used to build websites and software, automate tasks, and conduct data analysis.
- it consist of three level they are given below

### level-I

- BASIC SYNTAX
- VARIABLES
- PYTHON PACAKAGE INFORMATION
- BASIC PYTHON CODES
- CONDITIONAL STATEMENTS
- FUNCTIONS
- LOOPING

### level-II

- STRINGS
- LIST
- DICTIONARY
- TUPILS
- SETS
- FILE HANDLING SESSIONS

### level-III

- OOPS CONCEPT IN PYTHON
- HOW TO CREATE YOUR OWN PACKAGE
- HOW TO CREATE FLASK APPS

$Basic$-$Syntax$

- The syntax of the Python programming language is the set of rules that defines
  how a Python program will be written and interpreted

$ Variables $

- IF WE WANT TO SAVE SOME ELEMENTS AT SOME PLACE, IN THAT CASE WE USE VARIABLES
- VARIABLES and CONSTANTS ARE THERE IN THIS

$Data$-$Types$

##### -THESE ARE 5 TYPES. THEY ARE

- INTEGERS  
     * Written as int
- FLOAT     
     * Written as float
- STRING    
     * Written as str
- BOOLEAN   
     * Written as bool
- COMPLEX CONJUCATION   
     * Written as complex

### Integers

###### in maths we have differnet types of number systems 
- decimal
- binary
- octal
- hexa

$Decimal$

- If your number has a decimal, Python will automatically consider it a float. 
- If it does not, it will automatically consider it an integer.

In [10]:
num=5.63
type(num)

float

$Binary$

* BI MEANS 2
* THEN THE BASE IS ALSO 2
* 0,1,2,3,4,5,6,7,8,9
* HERE WE WILL ONLY USE BINARY CODES THAT ARE 0 AND 1
* THE REPRESENTATION IS WITH ob(WITH COMBINATION OF 0 AND 1)
* EX:- ob111 & ob01101

In [16]:
a=0b111
a

7

$Octal$

* OCTA MEANS 8
* SO THE BASE IS 8
* 0,1,2,3,4,5,6,7,8,9
* IN THIS WE WILL USE ONLY 8 DIGITS  0,1,2,3,4,5,6,7
* REPRESENTS AS 0O (COMBINSTIONS OF 0 TO 7)
* EX:- 0O123 (OR) 0o123

In [18]:
b=0o123
b

83

$Hexa$

* HEXA MEANS 16
* SO THE BASE IS ALSO 16 
* THEN 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F
* HERE WE WILL 16 DIGITS (FROM 0 TO 9 AND FROM A TO F)
* REPRESENTS AS 0X (WITH COMBINATION OF 0 TO 9 AND A TO F)
* EX:- 0Xabc     or   0x5ps

In [20]:
c=0xabc
c

2748

- these are all about integers ands their types

### Float

- float is a function in the Python programming language that converts values into floating point numbers
- floating point numbers are decimal values or fractional numbers

In [8]:
a=12.593
type(a)

float

##### e repesentation:-
* 10*e3 = # 10(1000)=10000.0
* 10e-3 = # 10/1000=0.01

### String

- the data which represented or written in quotes
- there are three types of quotes:
    * single quotes (' ')
    * double quotes (" ")
    * triple quotes ("""  """).these are also called as 'doc string'.

In [9]:
str1='python'    
str1

'python'

### Boolean

* WHENEVER IF YOU SAY SOMETHING TO THE SYSTEM/PROGRAM ,THEN ITS REPLY IS "TRUE OR FLASE".
* THIS TRUE OR FLASE TYPE OF QUESTIONS AND ANESWERS ARE KNOW AS BOOLEAN.
* IT IS REPRESESNTED AS "bool".
* true=1=on
* false=0=off

In [21]:
val=True
type(val)

bool

### complex conjugation

- an equation of real value and an imaginary value is called complex conjugation
- it is in the form of a+jb

In [24]:
a=3+5j
type(a)

complex

In [26]:
complex()  # empty braces took default values

0j

### Type casting

- CHANGE ONE DATA TYPE TO ANOTHER DATA TYPES
- INT CONVERTS INTO FLOAT,STRING, BOOLEAN, COMPLEX CONJUGATE. SIMILARY REMAINING INTO REMAINING TYPES

$Integers----->Data$ $types$

- case(i):- int to float

In [41]:
num=100     # integer
float_num=float(num)
float_num

100.0

In [29]:
type(float_num)

float

- case(ii):-int to string

In [40]:
num=100
string_num=str(num)
string_num

'100'

In [32]:
type(string_num)

str

- case(iii):- int to boolean

In [33]:
num=100
boolean_num=bool(num)
print(boolean_num)

True

In [34]:
type(boolean_num)

bool

- other than zero every thing in boolean is true
- zero gives false

In [36]:
bool(0)

False

- case(iv):- int to complex

In [37]:
num=100
complex_num=complex(num)
complex_num

(100+0j)

In [38]:
type(complex_num)

complex

- similarly we can covert all data types into other data types

- in string to other type data types conversion,
   * the int,float and complex are shown error.because of they are maths
   * empty string in boolean gives false

- in complex to other data types conversion,
   * int and float both are errors

### Joining of multiple statements

$end-operator$

- when ever we have mutiple statements, we want to connect/ join all the statement we use an operator which is called end operator

In [3]:
print("hai")
print("how are you")

hai
how are you

In [4]:
print("hai"),print("how are you")

hai
how are you

(None, None)

In [5]:
print("hai",end=" ")
print("how are you")

hai how are you

$Input$

- Input is a key which is ued to print some statements
- input is used to print both numeric and alphabetics
- whenever we use input key it displace rectangular box in which we have to type which data we wants.

In [7]:
print(input("what is A for:"))
print(input("what is B for:"))

what is A for:apple
apple
what is B for:ball
ball

$Eval$

- eval is a key which is used to evaluate the mathametical operations