# ----------------------------------STRINGS----------------------------------

##### HOW TO READ STRINGS:

- the data which represented or written in quotes
- there are three types of quotes:
    * single quotes (' ')
    * double quotes (" ")
    * triple quotes ("""  """).these are also called as 'doc string'.

In [1]:
str1='python'      #single quotes
str1

'python'

In [2]:
str2="python"      #double quotes
str2

'python'

In [4]:
str3="""python"""   #doc string/triple quotes
str3
# doc string used to say somer information about your pyhton code.

'python'

######  highliting the word python in hello python word

In [7]:
string1='hello "python"'
string1

'hello "python"'

In [8]:
string2="hello 'python'"
string2

"hello 'python'"

$type$

In [10]:
string1='python' #it describes the type of the given string
type(string1)

str

$length$

In [12]:
string1='python'   #it describes the length of the string
len(string1)

6

$maximum$

In [13]:
string1='python'  # it describes the maximum value of the given string by using ascii values
max(string1)

'y'

$minimum$

In [14]:
string1='python' # it describes the minimum value of the given string by using ascii values
min(string1)

'h'

$ord$---$chr$

- ord(letters,punctuations etc) is used to find the ascii value of an element
- chr(numbers) is used to find the element by using ascii value

In [20]:
ord("P")

80

In [17]:
ord("s")

115

In [18]:
chr(101)

'e'

In [21]:
chr(33)

'!'

In [22]:
string1='python'
max(string1),min(string1)

('y', 'h')

In [23]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [24]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

$Concatenation$

- concatenation means addition of two strings

In [25]:
str1='hai'
str2='hello'
str1+str2

'haihello'

$Multiplication$

- we can't multiply sequence by non-int of type string

In [28]:
str1='hai'
str2='hello'
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [33]:
str1='hai'
str1*3     # we can multiply a string with an integer

'haihaihai'

$subtraction$

- we cant subtract two strings it gives error

In [31]:
str1='hai'
str2='hello'
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

$division$

-similarly we cant divide two strings.it is also gives an error as like substraction.

In [32]:
str1='hai'
str2='hello'
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

###### in opertor (for loop)

- in operator is used for strings
- if you want to print the letters using for loop, go for "in operator"

In [38]:
str1='python'
'p' in str1
'y' in str1
't' in str1
'h' in str1
'o' in str1
'n' in str1  # this is normal way of iterate by using in operator
# the generalised equation by using in operator is
for i in str1:
    print(i)

p
y
t
h
o
n

In [39]:
#Wap to find the ascii values of string=python by using in operator
str1='python'
for i in str1:
    print(ord(i))

112
121
116
104
111
110

In [41]:
str1='python'    # we need output as the ascii value of x is y
for i in str1:
    print("the ascii value of {} is {}".format (i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [42]:
# wap to find the ascii values of alphabets by using in operator 
import string
dir(string)
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

$Index$

- Index is used to find the sequence number of the element
- index is representeed in[] 
- it is a numeric value

In [46]:
str1='python'
str1[0],str1[1],str1[2],str1[3],str1[4],str1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [48]:
# generalised equation for above program
str1='python'
for i in range(len(str1)):
    print(i,str1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [49]:
str1='python'
for i in str1:
    print(i)

p
y
t
h
o
n

$mutable$-$immutable$ $condition$

- mutable means we can change; immutable means we cant change.
- strings are immutable.`

$slice$

-it is used to cut the sequence in the given string

In [53]:
string='hai how are you'
string[2:10]

'i how ar'

In [54]:
string[3:13:1]

' how are y'

In [55]:
string[:]

'hai how are you'

In [56]:
string[::]

'hai how are you'

In [57]:
string[2:10:-3]

''

### String Methods:

- methods are used to simplify the large steps of programs
- they are several types of methods are there in string
- some of them are shown below

$capitalise$ $method$

- this method is used to capitalise the word

In [58]:
str1='welcome'
str1.capitalize()

'Welcome'

In [59]:
str1.upper()

'WELCOME'

In [60]:
str1.lower()

'welcome'

$index$

-it is used to find the index number of an element.

In [63]:
string='welcome python'
string.index('p')

8

In [69]:
string='hai hai hai hai hai'
# find the indexex of "a" in string
i1=string.index("a")
i2=string.index("a",i1+1)
i3=string.index("a",i2+1)
i4=string.index("a",i3+1)
i5=string.index("a",i4+1)
i1,i2,i3,i4,i5

(1, 5, 9, 13, 17)

$find$

In [80]:
string='hai hai hai'
z=string.find('a')
z

1

In [82]:
z1=string.find('a',z+1)
z1

5

In [83]:
z2=string.find("a",z1+1)
z2

9

In [87]:
string.find('z')

-1

- -1 represents substring is not found

$Count$

- it is used to find the no of times which an element repeats.

In [89]:
string='hai hello'
string.count("l")

2

In [90]:
string="hai hai hai"
string.count("hai")

3

In [91]:
string="hai how are you"
string.count("a",2)

1

$Replace$

- it is used to replace a word in the given string

In [94]:
str1='restart'
str1.replace('r','R',1)

'Restart'

In [95]:
str1.replace('r','R')

'RestaRt'

In [101]:
str1='restart'   # replace the last r with R
s1=str1[0]
s2=str1[1:].replace('r','R')
s1+s2

'restaRt'

$lstrip/rstrip/strip$

- lstrip is used to remove the space at left side 
- rstrip is used to remove the space at right side
- strip is used to remove the space at both right and left side

In [104]:
str1=" hai hello"
str2="hai hello "
str3=" hai hello "
print(str1.lstrip())
print(str2.rstrip())
print(str3.strip())

hai hello
hai hello
hai hello

$startswith/endswith$

- it is like true or false type
- startswith belongs to starting value of the string
- endswith belongs to ending value of the string

In [108]:
str1='hai how are you'
print(str1.startswith('hai'))
print(str1.startswith('h'))
print(str1.startswith(str1))
print(str1.endswith('you'))
print(str1.endswith('u'))
print(str1.endswith(str1))

True
True
True
True
True
True

In [109]:
print(str1.endswith('h'))
print(str1.startswith('u'))

False
False

$isalpha/isnumeric/isalnum$`

- isalpha is a method which describes,weather the string is alphabetic or not
- isnumeric is a method which describes,weather the string is numeric  or not
- isalnum is a method which describes,weather the string have alphabetic or numeric.

In [111]:
str1='abc'
print(str1.isalpha())
print(str1.isnumeric())
print(str1.isalnum())

True
False
True

In [112]:
str1='123'
print(str1.isalpha())
print(str1.isnumeric())
print(str1.isalnum())

False
True
True

In [115]:
str3='abc123'
print(str3.isalpha())
print(str3.isnumeric())
print(str3.isalnum())

False
False
True

$split$

- split is used to slip the string.
- if we dont provide anything inside the bracket it takes space 
- output is in the format of list

In [117]:
str1='hai how are you'
str1.split()

['hai', 'how', 'are', 'you']

In [130]:
str2='hai how,are you'
str2.split("a")

['h', 'i how,', 're you']

In [129]:
str3='hai hello'
str3.split("i")

['ha', ' hello']

# -------------------------------------------- THE END---------------------------------------------