# -------------------------TUPLE------------------------------

##### HOW TO READ TUPLE:

- the data which represented or written in  parentheses is called as tuple.
- it is as same as list

In [31]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [32]:
t2=('A','B','C','D','E')
t2

('A', 'B', 'C', 'D', 'E')

In [33]:
t3=(1,2,3,'A','B','C')
t3

(1, 2, 3, 'A', 'B', 'C')

###### In tuple elements, heterogenous data types are allowed.

In [34]:
t4=(1,'apple',10.5,(1+3j),True)
t4

(1, 'apple', 10.5, (1+3j), True)

###### In tuple elements,duplicates are also allowed.

In [35]:
t5=(10,100,10)
t5

(10, 100, 10)

###### In tuple elements, tuple in tuple also works.

In [36]:
t6=((1,2,3,4,5))
t6

(1, 2, 3, 4, 5)

$type$

In [37]:
t1=(1,'apple',10.5,(1+3j),True) 
type(t1)

tuple

$length$

In [38]:
t1=(1,'apple',10.5,(1+3j),True)  #it describes the length of the tuple
len(t1)

5

$maximum$

In [39]:
t1=(1,'apple',10.5,(1+3j),True)  
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [40]:
t1=(1,2,3,4,5,6,7,8,9)         # it describes the maximum value of the given tuple
max(t1)

9

$minimum$

In [41]:
t1=(1,2,3,4,5,6,7,8,9)         # it describes the manimum value of the given tuple
min(t1)

1

$ sum $

In [44]:
t1=(1,2,3,4,5,6,7,8,9)
sum(t1)

45

In [45]:
t2=('a','b','c','d','e')
sum(t2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
l3=[1,2,3,4,5,'a','b','c']
sum(l3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

$Concatenation$

- concatenation means addition of two tuples

In [47]:
t1=('a','b','c','d')
t2=(5,6,7,8,9)
t1+t2

('a', 'b', 'c', 'd', 5, 6, 7, 8, 9)

In [48]:
t2+t1

(5, 6, 7, 8, 9, 'a', 'b', 'c', 'd')

$Multiplication$

- we can't multiply sequence by non-int of type string

In [49]:
t1=(1,2,3,4,5)
t2=('a','b','c','d','e')
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [50]:
t1=('a','b','c')
t1*3

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

$subtraction$

- we cant subtract two tuples it gives error

In [51]:
t1=(1,2,3,4)
t2=(1,5,3,6)
t1-t2

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

$division$

-similarly we cant divide two lists.it is also gives an error as like substraction.

In [52]:
l1=[1,2,3,4,5]
l2=[1,5,3,6,7]
l1/l2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

###### in opertor (for loop)

In [53]:
list1=[1,2,3,4,5]
for i in list1:
    print(i)

1
2
3
4
5

In [54]:
list1=["love","like","life"]
for i in list1:
    print(i)

love
like
life

$Index$

- Index is used to find the sequence number of the element
- index is representeed in[] 
- it is a numeric value

In [55]:
tuple1=(1,2,3,'a','b','c','priya')
tuple1[-1]

'priya'

- here,in this tuple[-1]=====> [a] indicates index of the last element in tuple

In [56]:
tuple1[0],tuple1[3],tuple1[5]

(1, 'a', 'c')

In [57]:
tuple2=(1,2,3,("priya","ammu"))
# find index of priya?
tuple2[3][0] #===========> index of priya

'priya'

$mutable$-$immutable$ $condition$

- mutable means we can change; immutable means we cant change.
- tuples are immutable.`

In [58]:
t1=("a","b","c",1,2,3)
t1[2]=0
t1

TypeError: 'tuple' object does not support item assignment

$slice$

-it is used to cut the sequence in the given list

In [59]:
t1=(1,2,3,4,5,'a','b','c','d','e','f')
t1[0:8:2]

(1, 3, 5, 'b')

In [60]:
t1[-2:-8:-2]

('e', 'c', 'a')

### TUPLE  Methods:

- methods are used to simplify the large steps of programs
- they are several types of methods are there in tuples
- some of them are shown below

$capitalise$ $method$

- this method is used to capitalise the word

In [61]:
tuple1=("hyd","chennai","mumbai")
for i in tuple1:
    print(i.capitalize())

Hyd
Chennai
Mumbai

$Count$

- it is used to find the no of times which an element repeats.

In [62]:
tuple1=(1,2,3,4,5,'a','c','c','c','c','c')
tuple1.count('c')

5

$Directories$-$of$-$tuple$

In [63]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# -------------------------- THE END----------------------------